Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

.lintstagedrc:

{
  "*.{js,jsx,html,css,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --disable MD025 --ignore-path src/docs"
}

fix(styles): add responsive paddings for doc content
  src/templates/doc-page.jsx
Due: prettier --write, eslint --cache --fix

Update SUMMARY.md
  docs/src/SUMMARY.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

fix: fix SEO for docs
  src/templates/doc-page.jsx
Due: prettier --write, eslint --cache --fix

fix: rebuild grid for Doc template
  src/components/pages/doc-page/doc-mobile-nav/doc-mobile-nav.jsx
  src/components/pages/doc-page/sidebar/sidebar.jsx
  src/templates/doc-page.jsx
Due: prettier --write, eslint --cache --fix

refactor: major refactor
  gatsby-node.js
  src/components/pages/doc-page/doc-mobile-nav/index.js
  src/components/pages/doc-page/doc-nav-links/index.js
  src/components/pages/doc/mobile-nav/index.js
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/previous-and-next-links/index.js
  src/components/pages/doc/previous-and-next-links/previous-and-next-links.jsx
  src/components/pages/doc/sidebar/index.js
  src/components/pages/doc/sidebar/sidebar.jsx
  src/constants/docs-sidebar-data.js
  src/constants/docs-sidebar.js
  src/constants/seo-data.js
  src/templates/doc.jsx
  src/utils/generate-docs-sidebar.js
  src/utils/get-doc-previous-and-next-links.js
Due: prettier --write, eslint --cache --fix

fix: fix code block theme
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/shared/code-block/code-block.jsx
  src/styles/code-block.css
  src/templates/doc.jsx
Due: prettier --write, eslint --cache --fix

feat: add redirect from root docs page to the first page in the sidebar
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

fix: fix redirect
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

refactor: move content from /src to /content
  content/docs/get-started/faq.md
  content/docs/get-started/intro.md
  content/docs/get-started/quickstart.md
  content/docs/zenith-cloud/cloud-console.md
  content/docs/zenith-cloud/integrations.md
  content/docs/zenith-cloud/start.md
  content/posts/2022-01-21-readme/index.md
  content/static-pages/privacy-policy.md
  gatsby-config.js
  gatsby-node.js
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

refactor: refactor gatsby-node.js
  content/docs/get-started/faq.md
  content/docs/get-started/intro.md
  content/docs/get-started/quickstart.md
  content/docs/sidebar.yaml
  content/docs/zenith-cloud/api.md
  content/docs/zenith-cloud/cloud-console.md
  content/docs/zenith-cloud/integrations.md
  content/docs/zenith-cloud/postgres.md
  content/docs/zenith-cloud/start.md
  gatsby-node.js
  gatsby/constants.js
  gatsby/createBlogPages.js
  gatsby/createBlogPosts.js
  gatsby/createDocPages.js
  gatsby/createPages.js
  gatsby/createStaticPages.js
  gatsby/onCreateNode.js
  package-lock.json
  package.json
  src/constants/docs-sidebar-data.js
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

refactor: use slug instead of id
  content/docs/get-started/faq.md
  content/docs/get-started/intro.md
  content/docs/get-started/quickstart.md
  content/docs/zenith-cloud/api.md
  content/docs/zenith-cloud/cloud-console.md
  content/docs/zenith-cloud/postgres.md
  gatsby/constants.js
  gatsby/createDocPages.js
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/previous-and-next-links/previous-and-next-links.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
  src/constants/docs-sidebar-data.js
  src/constants/docs.js
  src/templates/doc.jsx
  src/utils/generate-docs-sidebar.js
  src/utils/get-doc-previous-and-next-links.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

refactor: use trailing slashes
  gatsby/createBlogPages.js
  gatsby/createDocPages.js
  gatsby/createStaticPages.js
  src/components/pages/blog/pagination/pagination.jsx
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/pages/team/cta/cta.jsx
  src/constants/blog.js
  src/constants/docs.js
  src/constants/links.js
  src/constants/menus.js
  src/utils/get-blog-post-path.js
  src/utils/get-doc-previous-and-next-links.js
Due: prettier --write, eslint --cache --fix

fix: add some fixes to code blocks in content
  src/components/shared/content/content.css
  src/styles/code-block.css
  src/styles/main.css
Due: prettier --write

fix: add some fixes
  gatsby/createDocPages.js
Due: prettier --write, eslint --cache --fix

refactor: switch from JS file to YAML for sidebar data
  content/docs/sidebar.yaml
  gatsby/createDocPages.js
  package-lock.json
  package.json
  src/constants/docs-sidebar-data.js
  src/templates/doc.jsx
  src/utils/generate-docs-sidebar.js
Due: prettier --write, eslint --cache --fix

refactor: clean up a bit
  gatsby/createDocPages.js
  src/components/pages/doc/previous-and-next-links/previous-and-next-links.jsx
  src/utils/$.js
  src/utils/get-doc-previous-and-next-links.js
Due: prettier --write, eslint --cache --fix

fix: add some fixes
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
Due: prettier --write, eslint --cache --fix

fix: fix redirects
  gatsby-config.js
  gatsby/createBlogPages.js
  gatsby/createBlogPosts.js
  gatsby/createDocPages.js
  gatsby/createStaticPages.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

refactor: refactor components
  gatsby/createDocPages.js
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
  src/styles/main.css
  src/styles/select.css
  src/templates/doc.jsx
  src/utils/get-doc-previous-and-next-links.js
Due: prettier --write, eslint --cache --fix

refactor: refactor Sidebar
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

refactor: add prop types to refactored components
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/previous-and-next-links/previous-and-next-links.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
Due: prettier --write, eslint --cache --fix

refactor: refactor shared components AnchorHeading and CodeBlock
  package-lock.json
  package.json
  src/components/shared/anchor-heading/anchor-heading.jsx
  src/components/shared/anchor-heading/images/anchor.inline.svg
  src/components/shared/button/button.jsx
  src/components/shared/code-block/code-block.jsx
  src/components/shared/content/content.css
  src/hooks/use-copy-to-clipboard.js
Due: prettier --write, eslint --cache --fix

feat: replace anchor icon in the shared component AnchorHeading
  src/components/shared/anchor-heading/anchor-heading.jsx
  src/components/shared/anchor-heading/images/anchor.inline.svg
Due: prettier --write, eslint --cache --fix

fix: add some style fixes
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/shared/content/content.css
  src/icons/chevron-right.inline.svg
  src/templates/doc.jsx
Due: prettier --write, eslint --cache --fix

build: uncomment production check in createPages.js
  gatsby/createPages.js
Due: prettier --write, eslint --cache --fix

fix: add some fixes
  src/components/pages/home/features/features.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/lines-1/lines-1.css
  src/components/pages/home/lines-2/lines-2.css
  src/components/pages/home/lines-2/utils/setPositionsForCirclesWithText.js
  src/components/pages/home/lines-2/utils/setPositionsForHorizontalLines.js
  src/components/pages/home/lines-2/utils/setPositionsForVerticalLines.js
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

fix: fix font weight in the section CTA for the page Home
  src/components/pages/home/cta/cta.jsx
Due: prettier --write, eslint --cache --fix

feat: enable generation of docs, blog and static pages
  gatsby/createPages.js
Due: prettier --write, eslint --cache --fix

feat: zenith => neon
  README.md
  content/docs/neon-cloud/api.md
  content/docs/neon-cloud/cloud-console.md
  content/docs/neon-cloud/postgres.md
  content/docs/sidebar.yaml
  content/posts/2022-01-21-readme/index.md
  content/static-pages/privacy-policy.md
  gatsby-config.js
  package-lock.json
  package.json
  src/components/pages/home/cta/cta.jsx
  src/components/pages/home/data-branching/data-branching.jsx
  src/components/pages/home/features/features.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/saas/saas.jsx
  src/components/pages/home/scalability/scalability.jsx
  src/components/pages/home/storage/storage.jsx
  src/components/pages/jobs/hero/hero.jsx
  src/components/pages/team/cta/cta.jsx
  src/components/pages/team/team/team.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/header/header.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/components/shared/subscribe/subscribe.jsx
  src/constants/seo-data.js
  src/images/favicon.png
  src/images/logo-black.inline.svg
  src/images/logo-white.inline.svg
  src/images/logo.inline.svg
  static/images/social-preview.jpg
Due: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

feat: update Hero animation
  src/components/pages/home/hero/data/hero-lottie-data.json
Due: none

feat: update logo
  src/images/favicon.png
  src/images/logo-black.inline.svg
  src/images/logo-white.inline.svg
  static/images/social-preview.jpg
Due: none

feat: update links
  src/components/pages/home/cta/cta.jsx
  src/components/pages/home/features/features.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/saas/saas.jsx
  src/components/shared/header/header.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

feat: update illustration in the shared section Subscribe
  src/components/shared/subscribe/images/subscribe-illustration.jpg
Due: none

feat: update top padding in the section Advantages for the page Home
  src/components/pages/home/advantages/advantages.jsx
Due: prettier --write, eslint --cache --fix

feat: update top padding in the section Hero for the page Home
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat: update logo
  src/components/shared/footer/footer.jsx
  src/components/shared/header/header.jsx
  src/images/logo-black.inline.svg
  src/images/logo.inline.svg
Due: prettier --write, eslint --cache --fix

feat: update icon in the section Features for the page Home
  src/components/pages/home/features/data/features-open-source-lottie-data.json
Due: none
