Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

Update api-reference.md
  content/docs/reference/api-reference.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

Storage release notes 2022-10-25.md and 2022-10-21.md
  content/release-notes/2022-10-21.md
  content/release-notes/2022-10-25.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

Update using-api-keys.md
  content/docs/get-started-with-neon/using-api-keys.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

fix: js style comments
  content/docs/README.md
  content/docs/cloud/integrations-deprecated
  content/docs/reference/technical-preview-free-tier.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

fix: fixed mdx comments
  content/docs/README.md
  content/docs/reference/technical-preview-free-tier.md
  package-lock.json
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

feat(constants): update topbar message
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

chore: disabled prettier pre commit check for md temporarily
  .lintstagedrc
  content/docs/reference/technical-preview-free-tier.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

feat: index staging algolia queries
  .env.example
  gatsby-config.js
  gatsby/constants.js
  src/utils/algolia-queries.js
Due: prettier --write, eslint --cache --fix

chore: readme/docs corrections
  content/docs/README.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

Revise data import instructions
  content/docs/how-to-guides/import-an-existing-database.md
  content/docs/integrations/vercel.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

Update import-an-existing-database.md
  content/docs/how-to-guides/import-an-existing-database.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

Update content/release-notes/2022-10-21.md
  content/release-notes/2022-10-21.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

Update content/release-notes/2022-10-25.md
  content/release-notes/2022-10-25.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

fix: styles of code block
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix

Apply suggestions from code review
  content/release-notes/2022-10-21.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

Update branching.md
  content/docs/conceptual-guides/branching.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

Update sidebar.yaml
  content/docs/sidebar.yaml
Due: none

feat(constants): update blog url
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

feat(constants): update banner with tada emoji
  src/components/shared/topbar/topbar.jsx
Due: prettier --write, eslint --cache --fix

fix: update algolia index name
  gatsby-config.js
  src/utils/algolia-queries.js
  src/utils/constants.js
Due: prettier --write, eslint --cache --fix

fix: add default branch
  src/utils/algolia-queries.js
  src/utils/constants.js
Due: prettier --write, eslint --cache --fix

fix: remove redundant env. variable
  .env.example
Due: none

feat: fix the url and enable try it out
  src/pages/api-reference/v2.jsx
Due: prettier --write, eslint --cache --fix

feat: fix the server
  src/pages/api-reference/v2.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --disable MD025 --ignore-path src/docs: any of: *.md
