Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

fix: uncomment functions import in createPages.js
  gatsby/createPages.js
Due: prettier --write, eslint --cache --fix

fix: add some fixes
  src/components/pages/doc/sidebar/item/sub-item/images/chevron-right-sm.inline.svg
  src/components/pages/doc/sidebar/item/sub-item/sub-item.jsx
  src/icons/chevron-right-sm.inline.svg
Due: prettier --write, eslint --cache --fix

docs: add authors of the first blogs
  content/posts/2022-06-15-designing-neon/index.md
  content/posts/2022-06-15-hello-world/index.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

fix: add some fixes
  content/posts/2022-06-15-designing-neon/index.md
  content/posts/2022-06-15-hello-world/index.md
  src/constants/links.js
  src/constants/menus.js
  src/constants/post-authors.js
  static/images/post-authors/heikki-linnakangas-photo.jpg
  static/images/post-authors/nikita-shamgunov-photo.jpg
  static/images/post-authors/stas-kelvich-photo.jpg
Due: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

feat: add Security page
  .markdownlint.json
  content/static-pages/privacy-policy.md
  content/static-pages/security.md
  gatsby/createPages.js
  static/security.txt
Due: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

fix: add some fixes
  src/components/pages/doc/sidebar/item/item.jsx
  src/components/pages/doc/sidebar/item/sub-item/sub-item.jsx
Due: prettier --write, eslint --cache --fix

docs: remove the second post for now
  content/posts/2022-06-15-designing-neon/index.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: import the first blog text
  content/posts/2022-06-15-hello-world/index.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: import the first blog images draft
  content/posts/2022-06-15-hello-world/index.md
  content/posts/2022-06-15-hello-world/neon_architecture.png
  content/posts/2022-06-15-hello-world/typical_postgres_setups.png
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: import the gif for the 1st blog
  content/posts/2022-06-15-hello-world/create_project.gif
  content/posts/2022-06-15-hello-world/index.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: test commit
  content/docs/sidebar.yaml
Due: none

docs: fix the typos, commas and wording in the 1st blog
  content/posts/2022-06-15-hello-world/index.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: update the roadmap page
  content/docs/cloud/roadmap.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: crop the git to avoid having a strip of purple desktop on the background
  content/posts/2022-06-15-hello-world/create_project.gif
Due: none

docs: test commit
  content/docs/cloud/roadmap.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: test commit, attempt to fix merge conflict with redirect for roadmap
  public/_redirects.txt
Due: none

feat: add link to Security page in the footer
  src/constants/links.js
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

docs: update the diagram
  content/posts/2022-06-15-hello-world/neon_architecture.png
  content/posts/2022-06-15-hello-world/typical_postgres_setups.png
Due: none

feat: add some fixes
  content/docs/security.md
  content/docs/sidebar.yaml
  content/static-pages/privacy-policy.md
  gatsby/createPages.js
  src/constants/links.js
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

feat: add some fixes
  content/docs/security.md
  src/constants/links.js
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

fix: fix prev / next links
  gatsby/createDocPages.js
Due: prettier --write, eslint --cache --fix

Update content/posts/2022-06-15-hello-world/index.md
  content/posts/2022-06-15-hello-world/index.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: update docs README
  content/docs/README.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: update docs README
  .markdownlint.json
  content/docs/README.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

revert: bring back the social links
  src/components/shared/subscribe/subscribe.jsx
  src/constants/links.js
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

docs: update the 1st blog title
  content/posts/2022-06-15-hello-world/index.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

feat: add LinkedIn link
  src/components/shared/subscribe/images/subscribe-linkedin.inline.svg
  src/components/shared/subscribe/subscribe.jsx
  src/constants/links.js
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

docs: update the roadmap
  content/docs/cloud/roadmap.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

fix: add some fixes
  content/docs/README.md
  src/utils/algolia-queries.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: test commit, changed redirects extension
  public/_redirects.txt
Due: none

docs: fixing redirects file
  public/_redirects
Due: none

docs: test commit, fixing redirects file
  public/_redirects
Due: none

refactor: clean up code
  gatsby/createDocPages.js
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/sidebar/item/item.jsx
Due: prettier --write, eslint --cache --fix

refactor: delete mocks
  content/docs/cloud/nested-1.md
  content/docs/cloud/nested/nested-2.md
  content/docs/sidebar.yaml
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

fix: fix select
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
Due: prettier --write, eslint --cache --fix

docs: add the test redirects file
  static/_redirects
Due: none

docs: update the text redirect
  static/_redirects
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --disable MD025 --ignore-path src/docs: any of: *.md
