Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

.lintstagedrc:

{
  "*.{js,jsx,html,css,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --disable MD025 --ignore-path src/docs"
}

typo fix
  content/posts/2022-06-30-prisma-day-talk/index.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: edit the free tier disclaimer
  content/docs/reference/technical-preview-free-tier.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: fixes broken link to getting started
  content/docs/cloud/about.md
  content/docs/get-started-with-neon/signing-up.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: relative link fix
  content/docs/cloud/about.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: add test blog
  content/posts/2022-07-08-testblog/index.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: add a pic for the social preview
  content/posts/2022-07-08-testblog/sp-architecture.jpeg
Due: none

docs: rever the 2nd blog and update the test blog
  content/posts/2022-06-30-prisma-day-talk/index.md
  content/posts/2022-07-08-testblog/index.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: add new blog post
  content/posts/2022-07-08-architecture-decisions-in-neon/architecture-cover.jpeg
  content/posts/2022-07-08-architecture-decisions-in-neon/index.md
  content/posts/2022-07-08-architecture-decisions-in-neon/neon-architecture-2.png
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: add cover to blog post
  content/posts/2022-07-08-architecture-decisions-in-neon/index.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

feat: add blog post cover functionality
  content/posts/2022-07-08-architecture-decisions/cover.jpg
  content/posts/2022-07-08-architecture-decisions/index.md
  src/components/shared/seo/seo.jsx
  src/templates/blog-post.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: remove example post
  content/posts/2022-07-08-architecture-decisions/cover.jpg
  content/posts/2022-07-08-architecture-decisions/index.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: missing redirect for architecture overview
  content/docs/conceptual-guides/architecture-overview.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

feat: integrate blog with WP
  gatsby-config.js
  gatsby/create-blog-pages.js
  gatsby/create-blog-posts.js
  package-lock.json
  package.json
  src/components/pages/blog-post/content/content.jsx
  src/components/pages/blog-post/content/index.js
  src/components/pages/blog-post/hero/hero.jsx
  src/components/pages/blog/posts-list/posts-list.jsx
  src/components/shared/layout/layout.jsx
  src/components/shared/seo/seo.jsx
  src/constants/blog.js
  src/styles/content.css
  src/styles/main.css
  src/templates/blog-post.jsx
  src/templates/blog.jsx
  src/utils/create-meta-image-path.js
  src/utils/get-blog-post-path.js
  src/utils/get-react-content-with-lazy-blocks.jsx
Due: prettier --write, eslint --cache --fix

feat: add more team members
  src/components/pages/team/team/images/aleksander-bayandin-photo.jpg
  src/components/pages/team/team/images/eduard-dyckman-photo.jpg
  src/components/pages/team/team/images/kliment-serafimov-photo.jpg
  src/components/pages/team/team/images/lassi-polonen-photo.jpg
  src/components/pages/team/team/images/rory-de-zoete-photo.jpg
  src/components/pages/team/team/images/thang-pham-photo.jpg
  src/components/pages/team/team/team.jsx
Due: prettier --write, eslint --cache --fix

fix: remove team members
  src/components/pages/team/team/team.jsx
Due: prettier --write, eslint --cache --fix

fix: compress images
  src/components/pages/team/team/images/aleksander-bayandin-photo.jpg
  src/components/pages/team/team/images/eduard-dyckman-photo.jpg
  src/components/pages/team/team/images/kliment-serafimov-photo.jpg
  src/components/pages/team/team/images/lassi-polonen-photo.jpg
  src/components/pages/team/team/images/rory-de-zoete-photo.jpg
  src/components/pages/team/team/images/thang-pham-photo.jpg
Due: none

feat: add github urls for team members
  src/components/pages/team/team/team.jsx
Due: prettier --write, eslint --cache --fix

fix: comment unused item
  src/components/pages/team/team/team.jsx
Due: prettier --write, eslint --cache --fix

chore: upload new covers for all posts
  content/posts/2022-06-15-hello-world/cover.jpg
  content/posts/2022-06-15-hello-world/index.md
  content/posts/2022-06-30-prisma-day-talk/cover.jpg
  content/posts/2022-06-30-prisma-day-talk/index.md
  content/posts/2022-07-08-architecture-decisions-in-neon/architecture-cover.jpeg
  content/posts/2022-07-08-architecture-decisions-in-neon/cover.jpg
  content/posts/2022-07-08-architecture-decisions-in-neon/index.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

chore: add gatsby cloud plugin
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

docs: redirect and broken link check
  content/docs/cloud/concepts.md
  content/docs/conceptual-guides/branches.md
  content/docs/get-started-with-neon/query-with-neon-sql-editor.md
  content/docs/get-started-with-neon/using-api-keys.md
  content/docs/integrations/vercel.md
  content/docs/reference/glossary.md
  content/docs/reference/technical-preview-free-tier.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: removed nonexistant links
  content/docs/cloud/concepts.md
  content/docs/get-started-with-neon/using-api-keys.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: using api keys fix
  content/docs/get-started-with-neon/using-api-keys.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: fixing relative links
  content/docs/conceptual-guides/branches.md
  content/docs/reference/technical-preview-free-tier.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: separating base url from header specifier
  content/docs/conceptual-guides/branches.md
  content/docs/get-started-with-neon/query-with-neon-sql-editor.md
  content/docs/reference/technical-preview-free-tier.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: updated links
  content/docs/cloud/about.md
  content/docs/reference/technical-preview-free-tier.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: resolved incorrect link
  content/docs/integrations/sqlalchemy.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

chore: remove redundant text
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix

fix: remove blog post content
  content/posts/2022-06-15-hello-world/create_project.gif
  content/posts/2022-06-15-hello-world/index.md
  content/posts/2022-06-15-hello-world/neon_architecture.png
  content/posts/2022-06-15-hello-world/typical_postgres_setups.png
  content/posts/2022-06-30-prisma-day-talk/index.md
  content/posts/2022-07-08-architecture-decisions-in-neon/architecture-cover.jpeg
  content/posts/2022-07-08-architecture-decisions-in-neon/index.md
  content/posts/2022-07-08-architecture-decisions-in-neon/neon-architecture-2.png
  src/constants/post-authors.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

fix: remove content post from source filesystem
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

chore: enable trailing slash
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

fix: change date format, get blog path from wp
  src/components/shared/seo/seo.jsx
  src/templates/blog-post.jsx
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix

fix: change blog post per page to 20
  src/constants/blog.js
Due: prettier --write, eslint --cache --fix

fix: install gatsby plugin canonical
  gatsby-config.js
  package-lock.json
  package.json
  src/components/pages/blog-post/hero/hero.jsx
  src/components/shared/layout/layout.jsx
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

fix: remove redundant plugin from config
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

docs: made this commit only the landing page
  content/docs/cloud/integrations-deprecated
  content/docs/integrations/integrations-list.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

docs: add page for how to connect with TablePlus
  content/docs/how-to-guides/connect-with-tableplus.md
  content/docs/sidebar.yaml
  static/docs-images/TablePlus-screenshot.png
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

Propose release notes for a couple of recent releases
  content/docs/release-notes.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

Add releases section to side bar
  content/docs/sidebar.yaml
Due: none

Make release notes a sub-item in side-bar
  content/docs/sidebar.yaml
Due: none
