Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --disable MD025 --ignore-path src/docs

feat: update animation in the section Hero for the page Home
  src/components/pages/home/hero/data/hero-lottie-data.json
  static/lottie-assets/pages/home/hero/img_0.jpg
Due: none

feat: return back animation in the section DataBranching for the page Home
  src/components/pages/home/data-branching/data-branching-illustration/data-branching-illustration.jsx
  src/components/pages/home/data-branching/data-branching-illustration/data/data-branching-illustration-lottie-data.json
  src/components/pages/home/data-branching/data-branching-illustration/index.js
  src/components/pages/home/data-branching/data-branching.jsx
  src/components/pages/home/data-branching/images/data-branching-illustration.jpg
  static/lottie-assets/pages/home/data-branching/img_0.jpg
  static/lottie-assets/pages/home/data-branching/img_1.svg
  static/lottie-assets/pages/home/data-branching/img_2.jpg
  static/lottie-assets/pages/home/data-branching/img_3.jpg
  static/lottie-assets/pages/home/data-branching/img_4.svg
  static/lottie-assets/pages/home/data-branching/img_5.svg
  static/lottie-assets/pages/home/data-branching/img_6.svg
Due: prettier --write, eslint --cache --fix

feat: update icon in the section Features for the page Home
  src/components/pages/home/features/data/features-open-source-lottie-data.json
Due: none

Put greenhouse link to jobs.txt
  terminal/script.js
Due: prettier --write, eslint --cache --fix

feat: update animation in the section SaaS for the page Home
  src/components/pages/home/saas/saas-illustration/data/saas-illustration-lottie-data.json
  static/lottie-assets/pages/home/saas/img_0.svg
  static/lottie-assets/pages/home/saas/img_1.svg
Due: none

Update terminal/script.js
  terminal/script.js
Due: prettier --write, eslint --cache --fix

rename some zenith entries
  terminal/index.html
  terminal/script.js
Due: prettier --write, eslint --cache --fix

Update script.js
  terminal/script.js
Due: prettier --write, eslint --cache --fix

chore: remove old docs folder
  docs/.gitignore
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/intro.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

chore: update docs
  content/docs/neon-engine/control-plane.md
  content/docs/neon-engine/glossary.md
  content/docs/neon-engine/overview.md
  content/docs/neon-engine/read-path.md
  content/docs/neon-engine/write-path.md
  content/docs/sidebar.yaml
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

feat: update logo
  src/components/shared/footer/footer.jsx
  src/components/shared/header/header.jsx
  src/images/favicon.png
  src/images/logo-black.inline.svg
  src/images/logo-white.inline.svg
  src/images/logo.inline.svg
Due: prettier --write, eslint --cache --fix

chore: remove build.sh script
  build_docs.sh
Due: none

feat: update logo
  src/components/shared/footer/footer.jsx
  src/components/shared/header/header.jsx
  src/images/logo-black.svg
  src/images/logo-white.svg
Due: prettier --write, eslint --cache --fix

feat: update logo
  src/images/logo-black.svg
  src/images/logo-white.svg
Due: none

feat: add target "_blank" and rel "noopener" to Pixel Point link
  src/components/shared/footer/footer.jsx
Due: prettier --write, eslint --cache --fix

chore: remove discord from the navigation menu
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

chore: remove docs from the top menu temporarily
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

chore: replace neonspace.com with neon.tech
  src/components/pages/home/cta/cta.jsx
Due: prettier --write, eslint --cache --fix

chore: reword the On Demand Scalability section
  src/components/pages/home/scalability/scalability.jsx
Due: prettier --write, eslint --cache --fix

chore: rename Unlimited Storage to Elastic Storage
  src/components/pages/home/storage/storage.jsx
Due: prettier --write, eslint --cache --fix

playing with text
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Playing with text
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

chore: import first documentation pages
  content/docs/about-neon/about.md
  content/docs/cloud-service/about.md
  content/docs/cloud-service/concepts.md
  content/docs/cloud-service/roadmap.md
  content/docs/cloud-service/tutorials.md
  content/docs/compatibility/compatibility.md
  content/docs/neon-cloud/api.md
  content/docs/neon-cloud/cloud-console.md
  content/docs/neon-cloud/postgres.md
  content/docs/neon-engine/control-plane.md
  content/docs/neon-engine/glossary.md
  content/docs/neon-engine/overview.md
  content/docs/neon-engine/read-path.md
  content/docs/neon-engine/write-path.md
  content/docs/sidebar.yaml
  content/docs/storage-engine/architecture-overview.md
  content/docs/storage-engine/control-plane.md
  content/docs/storage-engine/glossary.md
  content/docs/storage-engine/read-path.md
  content/docs/storage-engine/write-path.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

chore: import tutorial documentation pages and reorganize the hierarchy
  content/docs/cloud-service/tutorials.md
  content/docs/cloud/about.md
  content/docs/cloud/compatibility.md
  content/docs/cloud/concepts.md
  content/docs/cloud/getting-started.md
  content/docs/cloud/roadmap.md
  content/docs/cloud/tutorials.md
  content/docs/sidebar.yaml
  content/docs/storage-engine/architecture-overview.md
  content/docs/storage-engine/glossary.md
  content/docs/storage-engine/read-path.md
  content/docs/storage-engine/write-path.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

chore: bring back the Docs link in the top menu
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

chore: reorganize intro pages
  content/docs/cloud/about.md
  content/docs/cloud/getting-started.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

chore: fix links in the documentation
  content/docs/cloud/about.md
  content/docs/cloud/compatibility.md
  content/docs/cloud/concepts.md
  content/docs/storage-engine/architecture-overview.md
  content/docs/storage-engine/glossary.md
  content/docs/storage-engine/read-path.md
  content/docs/storage-engine/write-path.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

chore: add slightly more detail to the Roadmap page
  content/docs/cloud/roadmap.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

chore: split integrations to a dedicated page
  content/docs/cloud/integrations.md
  content/docs/cloud/tutorials.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

chore: add integrations to the docs sidebar
  content/docs/sidebar.yaml
Due: none

chore: get rid of Cloud Service in the Tutorials doc header
  content/docs/cloud/tutorials.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

chore: update docs link to an existing page
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

chore: update link to the new integrations page
  content/docs/cloud/getting-started.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

chore: fix typo in docs
  content/docs/cloud/about.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

chore: fix links in docs/cloud/concepts
  content/docs/cloud/concepts.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

Update google tag manager id
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

Nikita's take on About
  content/docs/about-neon/about.md
Due: prettier --write, markdownlint --fix --disable MD025 --ignore-path src/docs

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --disable MD025 --ignore-path src/docs: any of: *.md
