Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore .

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.{md}": "markdownlint --fix --ignore-path .gitignore ."
}

fix: prevent keyboard appearing on mobile on input change
  src/components/pages/partners/apply/form/callback-url-fields/callback-url-fields.jsx
  src/components/pages/partners/apply/form/form.jsx
  src/components/pages/partners/apply/form/multi-select/multi-select.jsx
  src/components/pages/partners/apply/form/select/select.jsx
  src/styles/main.css
Due: prettier --write, eslint --cache --fix

fix: adjust styles for hero, benefits
  src/components/pages/partners/benefits/benefits.jsx
  src/components/pages/partners/hero/hero.jsx
  src/components/pages/partners/hero/images/logo-pattern.jpg
Due: prettier --write, eslint --cache --fix

revisions
  content/docs/guides/read-replica-guide.md
  content/docs/introduction/read-replicas.md
Due: none

Update sidebar.yaml
  content/docs/sidebar.yaml
Due: none

revise
  content/docs/guides/read-replica-guide.md
  content/docs/introduction/read-replicas.md
Due: none

feat: update the desktop partners page
  src/components/pages/partners/apply/apply.jsx
  src/components/pages/partners/apply/form/callback-url-fields/callback-url-fields.jsx
  src/components/pages/partners/apply/form/field/field.jsx
  src/components/pages/partners/apply/form/form.jsx
  src/components/pages/partners/apply/form/multi-select/multi-select.jsx
  src/components/pages/partners/apply/form/select/select.jsx
  src/components/pages/partners/integration/api/api.jsx
  src/components/pages/partners/integration/api/code-tabs/code-tabs.jsx
  src/components/pages/partners/integration/card-items-list/card-items-list.jsx
  src/components/pages/partners/integration/images/oauth.jpg
  src/components/pages/partners/integration/images/oauth1.jpg
  src/components/pages/partners/integration/integration.jsx
  src/components/pages/partners/integration/oauth/oauth.jsx
  src/components/pages/partners/testimonial/testimonial.jsx
Due: prettier --write, eslint --cache --fix

fix: add discount message
  src/components/pages/partners/apply/form/form.jsx
Due: prettier --write, eslint --cache --fix

chore: design update for 1024 screen
  src/components/pages/partners/apply/apply.jsx
  src/components/pages/partners/apply/form/callback-url-fields/callback-url-fields.jsx
  src/components/pages/partners/apply/form/form.jsx
  src/components/pages/partners/benefits/benefits.jsx
  src/components/pages/partners/hero/hero.jsx
  src/components/pages/partners/hero/images/logo-pattern.jpg
  src/components/pages/partners/integration/api/api.jsx
  src/components/pages/partners/integration/api/code-tabs/code-tabs.jsx
  src/components/pages/partners/integration/card-items-list/card-items-list.jsx
  src/components/pages/partners/integration/oauth/oauth.jsx
  src/components/pages/partners/testimonial/testimonial.jsx
Due: prettier --write, eslint --cache --fix

feat: update styles for 768 screen
  src/components/pages/partners/apply/apply.jsx
  src/components/pages/partners/apply/form/callback-url-fields/callback-url-fields.jsx
  src/components/pages/partners/apply/form/form.jsx
  src/components/pages/partners/benefits/benefits.jsx
  src/components/pages/partners/hero/hero.jsx
  src/components/pages/partners/integration/api/api.jsx
  src/components/pages/partners/integration/card-items-list/card-items-list.jsx
  src/components/pages/partners/integration/integration.jsx
  src/components/pages/partners/integration/oauth/oauth.jsx
  src/components/pages/partners/testimonial/testimonial.jsx
Due: prettier --write, eslint --cache --fix

Update pgvector.md
  content/docs/extensions/pgvector.md
Due: none

remove endpoints
  content/docs/reference/cli-endpoints.md
  content/docs/reference/neon-cli.md
  content/docs/sidebar.yaml
Due: none

chore: update styles for 414 screen
  src/components/pages/partners/apply/apply.jsx
  src/components/pages/partners/apply/form/callback-url-fields/callback-url-fields.jsx
  src/components/pages/partners/apply/form/form.jsx
  src/components/pages/partners/benefits/benefits.jsx
  src/components/pages/partners/hero/hero.jsx
  src/components/pages/partners/integration/api/api.jsx
  src/components/pages/partners/integration/card-items-list/card-items-list.jsx
  src/components/pages/partners/integration/integration.jsx
  src/components/pages/partners/integration/oauth/oauth.jsx
  src/components/pages/partners/testimonial/testimonial.jsx
Due: prettier --write, eslint --cache --fix

chore: update image quality in hero section
  src/components/pages/partners/hero/images/logo-pattern.jpg
Due: none

Update projects.md
  content/docs/manage/projects.md
Due: none

Update read-replica-guide.md
  content/docs/guides/read-replica-guide.md
Due: none

fix: adjust styles for api block
  src/components/pages/partners/integration/api/api.jsx
  src/components/pages/partners/integration/card-items-list/card-items-list.jsx
Due: prettier --write, eslint --cache --fix

fix: minor style adjustments
  src/components/pages/partners/apply/apply.jsx
  src/components/pages/partners/apply/form/field/field.jsx
  src/components/pages/partners/apply/form/form.jsx
  src/components/pages/partners/integration/api/code-tabs/code-tabs.jsx
Due: prettier --write, eslint --cache --fix

fix: send chat widget gtag event
  src/components/pages/doc/chat-widget/chat-widget.jsx
Due: prettier --write, eslint --cache --fix

fix: minor fix
  src/components/pages/doc/chat-widget/chat-widget.jsx
Due: prettier --write, eslint --cache --fix

revisions
  content/docs/guides/read-replica-guide.md
Due: none

Update read-replicas.md
  content/docs/introduction/read-replicas.md
Due: none

fix: replace query with value
  src/components/pages/doc/chat-widget/chat-widget.jsx
Due: prettier --write, eslint --cache --fix

edits
  content/docs/guides/read-replica-guide.md
  content/docs/introduction/read-replicas.md
Due: none

fix: container size
  src/components/pages/partners/apply/apply.jsx
  src/components/pages/partners/benefits/benefits.jsx
  src/components/pages/partners/hero/hero.jsx
  src/components/pages/partners/integration/integration.jsx
  src/components/pages/partners/logos/logos.jsx
Due: prettier --write, eslint --cache --fix

fix: hero title
  src/components/pages/partners/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: hero title max width
  src/components/pages/partners/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: increase glow visual
  src/styles/logos.css
Due: prettier --write
